<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/admin_dashboard.css">
</head>

<body>
    <div class="dashboard-container">

        <div class="header">
            <ul class="header-tabs">
                <a class="<%= activeTab === 'Books' ? 'active' : '' %>">Books</a>
                <a class="<%= activeTab === 'Borrowers' ? 'active' : '' %>">Borrowers</a>
                <a class="<%= activeTab === 'Loans' ? 'active' : '' %>">Loans</a>
                <a class="<%= activeTab === 'Inventory' ? 'active' : '' %>" href="/admin/inventory">Inventory</a>
                <a class="<%= activeTab === 'Reports' ? 'active' : '' %>">Reports</a>
            </ul>
        </div>
        <div class="content-table-wrapper">
            <table class="content-table">
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Available Copies</th>
                </tr>
                <% if (books.length===0) { %>
                    <tr>
                        <td colspan="5" style="text-align: center;">No books available</td>
                    </tr>
                    <% } else { %>
                        <% books.forEach(function(book) { %>
                            <tr>
                                <td>
                                    <%= book.isbn %>
                                </td>
                                <td>
                                    <%= book.title %>
                                </td>
                                <td>
                                    <%= book.author %>
                                </td>
                                <td>
                                    <%= book.genre %>
                                </td>
                                <td>
                                    <%= book.copies ? book.copies.length : 0 %>
                                </td>
                            </tr>
                            <% }) %>
                                <% } %>
            </table>
        </div>
        <div class="footer">
            <button class="logout">Logout</button>
        </div>
    </div>
</body>

</html>