<div class="header">
    <ul class="header-tabs">
        <li class="<%= activeTab === 'Books' ? 'active' : '' %>">Books</li>
        <li class="<%= activeTab === 'Borrowers' ? 'active' : '' %>">Borrowers</li>
        <li class="<%= activeTab === 'Loans' ? 'active' : '' %>">Loans</li>
        <li class="<%= activeTab === 'Inventory' ? 'active' : '' %>" href="/admin/inventory">Inventory</li>
        <li class="<%= activeTab === 'Reports' ? 'active' : '' %>">Reports</li>
    </ul>
</div>